CMakeFiles/
CMakeCache.txt
CMakeLists.txt.user*
Makefile
build/
install/
log/
cmake_install.cmake
**/cmake_uninstall.cmake
cmake-build-*
.idea

*.o
**/*.vim*
**/*.swp
**/*.swo
**/tags
**/*.deb
**/*.rpm
.clang-format
*.autosave
*.vscode

